* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

}

body {
  font-family: 'IBM Plex Mono';
  background: #f5f6f7;
  color: #222;
  font-size: 1rem;
  overflow-x: hidden;
}

.container {
  max-width: 100% !important;

}

section {
  padding: 4rem 10rem;

  @media only screen and (max-width: 767px) 
      {
      padding: 2rem 1rem;
    }
  }
  

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    gap: 240px;
    position: absolute;
    width: max-content;
    height: 80px;
    background: #FFFFFF;
    border-radius: 12px;
    right: 50%;
    transform: translate(50%, 50%);
  }

  .banner {
    background: url("../public//assets/Banner.png") no-repeat center fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    position: relative;


  }

  .banner h1 {
    font-weight: 700;
    font-size: 140px;
    line-height: 132px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    align-items: center;
    text-align: center;
    overflow-y: hidden;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 6.44%, #FFFFFF 95.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @media only screen and (max-width: 767px) {
      font-size: 64px;
      line-height: 60px;


    }
  }

  .card {
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 128, 128, 0.16);
    border-radius: 8px;
  }

  .cardset{
    @media only screen and (max-width: 767px) {

    display: grid;
    grid-auto-columns: 100%;
    grid-column-gap: 10px;
    grid-auto-flow: column;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    }
  }

  @tailwind base;
  @tailwind components;
  @tailwind utilities;